<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="35" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All your Taskly</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/currently.css" />
    <script defer src="scripts/main.js"></script>
    <script defer src="scripts/currently.js"></script>
  </head>
  <body>
    <section id="navbar"><%- include partials/header %></section>
  </body>
</html>
