<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="35" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currently</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/currently.css" />
    <script defer src="scripts/main.js"></script>
    <script defer src="scripts/currently.js"></script>
  </head>
  <body>
    <%-include('partials/header')%>
    <section id="cards"></section>
  </body>
</html>
