<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="35" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="If you're looking for the best way to organize your daily life, Taskly is for you."
    />
    <meta
      property="og:title"
      content="Discover Taskly, the modern productivity application that surpasses all others."
    />
    <title>
      Discover Taskly, the modern productivity application that surpasses all
      others.
    </title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/home-page.css" />
    <script defer src="scripts/main.js"></script>
    <script defer src="scripts/home-page.js"></script>
  </head>
  <body>
    <section id="navbar">
      <ul id="navbar-flex-container" class="flex w100">
        <li class="flex" id="logo-tabs-container">
          <img src="assets/png/logo-1.png" alt="Logo du site" id="logo" />
          <a href="#pricing" id="pricing" class="poppins medium grey"
            >Pricing</a
          >
          <a href="#features" id="features" class="poppins medium grey"
            >Features</a
          >
        </li>
        <lo id="login-container" class="center">
          <a href="./currently" id="login" class="neue semibold blue">Log in</a>
        <li>
        </ul>
    </section>
    <section id="heroe">
      <div id="title-container" class="flex-v">
        <h1 id="title" class="neue extrabold">
          Clarify <span>Today</span>, Simplify <span>Tomorrow</span>.
        </h1>
        <h4 id="subtitle" class="neue semibold">
          <i>Your Ultimate Workspace for Organised Thoughts and Actions.</i>
        </h4>
      </div>
    </section>
  </body>
</html>
