<div id="addNewContainer" class="flex-v visHidden">
  <div class="addNewNavBarRow flex">
    <div
      class="tag flex center"
      style="margin: 0 !important; margin-left: 1vw !important"
    >
      <span>Lorem</span>
    </div>
    <div
      class="newContainerTitle"
      style="margin-left: auto; margin-right: auto"
    >
      <span class="inter bold">Lorem, ipsum dolor </span>
    </div>
  </div>
  <div class="gridContainer"></div>
</div>
