<div id="searchMenuContainer" class="flex-v visHidden hidden">
  <div id="tagRow" class="flex">
    <div class="tag flex center"><span>Currently</span></div>
    <div class="tag flex center">
      <span style="color: #0c81ff">Ctrl + k</span>
    </div>
  </div>
  <div class="inputLine">
    <input type="text" placeholder="Type a command or search" name="" id="" />
  </div>
  <div class="searchMenuLine"></div>
</div>
