/* Root variables for colors and common styles */
:root {
  --blue-main: #007aff;
  --white: #ffffff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --black: #000000;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #0d0c0c;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
  --main-color: #ffffff;
}

/* Card navigation styles */
#card-nav {
  height: 10%;
}
#card-nav
  *:not(
    #buttonHourContainer,
    #menu-views,
    .selectedOption,
    .dropdown-menu,
    #menu-views * :not(svg.dots)
  ) {
  margin-top: 2vw;
}
.navtext {
  height: 100%;
  font-size: 3.3333vw;
  margin-left: 2.77vw;
}
.clock {
  font-size: 2vw;
  margin-right: 2.77vw;
}

/* Cards container styles */
#cards-container {
  width: 90vw;
}

/* Menu views styles */
#menu-views {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 30vw;
}
.left-libelle {
  font-size: 2vw;
  margin-right: 2vw;
}
.row {
  width: 90%;
  margin: 2vw 2vw;
  justify-content: space-between !important;
}
.selectedOption {
  padding: 10px;
}
.option {
  padding: 7.5px 10px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.option:hover {
  color: var(--blue-main);
}
.dropdown-container {
  width: 37.5%;
  border: 1px solid var(--black);
  height: 4vh;
  cursor: pointer;
  border-radius: 10px;
  justify-content: space-between;
}
.dropdown.arrow {
  margin-top: 3%;
  margin-left: 40%;
  margin-bottom: 2%;
  width: 100%;
  transition: transform 0.25s ease-in-out;
}

/* Additional styles for options and dropdowns */
.options {
  position: absolute;
  background-color: white;
  margin-top: 13vh;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  width: 35%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: opacity 0.5s ease-in-out;
}
.dropdown-menu {
  width: 100%;
  height: 100%;
}
.option-displayed {
  font-size: 1vw;
}
#add-new {
  transition: rotate 0.5 ease-in-out;
}
.top-right-corner {
  transform: rotate(45deg);
}
