:root {
  --blue-main: #007aff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #007aff;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
}
#title {
  color: var(--black);
  font-size: clamp(2.5vw, 5vw, 15vw);
  margin-top: 25vh;
}
#title > span {
  color: #d2a5a5;
}
#subtitle {
  margin-top: 3vh;
  font-size: clamp(1vw, 2vw, 10vw);
  color: var(--grey);
}
#login-container {
  border: 2px solid var(--blue-main);
  border-radius: 400px;
}
#navbar-flex-container {
  margin-top: 1.5vh;
}
#logo-tabs-container {
  width: 37vw;
}
#logo {
  height: clamp(1.8vw, 3.6vw, 4.4vw);
  margin-left: clamp(0.8vw, 2vw, 4vw);
}
#tabs-container {
  width: 15vw;
  justify-content: space-around;
}
#logo-tabs-container > a {
  font-size: clamp(8px, 1.5vw, 2.5vw);
}
#login-container {
  margin-right: 2vw;
  transition: all 0.2s ease-in-out;
}
#login {
  font-size: clamp(15px, 2vw, 3.1vw);
  padding: 0.5vw clamp(1vw, 1.25vw, 1.75vw);
  transition: all 0.15s ease-in-out;
}
#login-container:hover {
  background-color: var(--blue-main);
}
#login:hover {
  color: var(--white);
}
