@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

:root {
  --blue-main: #007aff;
  --white: #ffffff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --black: #000000;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #0d0c0c;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
  --main-color: #ffffff;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-color);
  scroll-behavior: smooth;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.blue {
  color: var(--blue-main);
}
.grey {
  color: var(--grey);
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.neue {
  font-family: "Neue Haas Grotesk Display Pro";
}
.thin {
  font-weight: 250;
}
.extralight {
  font-weight: 275;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.text-black {
  font-weight: 900;
}

.w100 {
  width: 100vw;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.h-100prt {
  height: 100%;
}
.border-blue {
  border: 1px solid var(--blue-main);
}
.rCircleHigh {
  border-radius: 600px;
}
.shadow {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
#nav-container {
  margin: clamp(1vh, 2vh, 3vh) 0;
}
#prph,
#prph-container {
  height: 5vw;
}
#nav-container *:not(span, #add-container) {
  margin: 0 clamp(10px, 1vw, 3vw);
}
#nav-container h1 {
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.46);
  font-size: 4.167vw;
}
#search-bar-container {
  width: 5vw;
  height: 5vw;
  margin: 0;
}
#add-container {
  width: 8.2vw;
  margin-top: 0.4vw;
}
#add-container svg {
  fill: var(--blue-main);
}
