@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue-main: #007aff;
  --white: #ffffff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --black: #000000;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #0d0c0c;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
  --main-color: #ffffff;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-color);
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
}
.blue {
  color: var(--blue-main);
}
.grey {
  color: var(--grey);
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.neue {
  font-family: "Neue Haas Grotesk Display Pro";
}
.thin {
  font-weight: 250;
}
.extralight {
  font-weight: 275;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.text-black {
  font-weight: 900;
}

.w100 {
  width: 100vw;
}
.fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceevenly {
  justify-content: space-evenly !important;
}
.flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.h-100prt {
  height: 100%;
}
.border-blue {
  border: 1px solid var(--blue-main);
}
.rCircleHigh {
  border-radius: 600px;
}
.rCircleLow {
  border-radius: 9px;
}
.shadow {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
.hidden {
  visibility: hidden;
  opacity: 0%;
}
.text-shadow {
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
}
.card {
  width: 79.79vw;
  height: 75.79vh;
  border-radius: 4vw;
  background: var(--main-color);
  box-shadow: 4px 4px 46px 2px rgba(0, 0, 0, 0.25);
  margin-left: 1.8vw;
  margin-bottom: 5vw;
  margin-top: 3vw;
  flex-shrink: 0;
}
.returned {
  transform: rotate(180deg);
}
.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}
.menu {
  visibility: hidden;
  height: 5vw;
  position: fixed;
  background-color: var(--main-color);
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.25));
  opacity: 0%;
  border-radius: 35px;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out,
    height 0.5s ease-in-out, width 0.5s ease-in-out;
}
.menu.open {
  visibility: visible;
  opacity: 100%;
  height: 70vh;
  width: 18vw;
  transition: display 0.5s ease-in-out, opacity 0.5s ease-in-out,
    height 0.5s ease-in-out, width 0.5s ease-in-out;
}

#nav-container {
  margin-top: clamp(1vh, 2vh, 3vh);
}
#prph,
#prph-container {
  height: 5vw;
}
#prph {
  cursor: pointer;
}
.ontop {
  z-index: 2000;
}
#nav-container *:not(span, #add-container, #menu) {
  margin: 0 clamp(10px, 1vw, 3vw);
}
#nav-container h1 {
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.46);
  font-size: 4.167vw;
}
#search-bar-container {
  width: 5vw;
  height: 5vw;
  margin: 0;
}
#add-container {
  width: 8.2vw;
  margin-top: 0.4vw;
}
#add-container svg {
  fill: var(--blue-main);
}
#swiper-slide,
#swiper-slide-active {
  width: 79.89vw;
}
#dots-container {
  appearance: none;
  appearance: none;
  height: 2.31vh;
  width: 3.125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}
#dots-container:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  transition: transform 1 ease-in-out;
}
#dots-container:hover {
  background-color: rgba(0, 122, 255, 1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}
#dots-container:active {
  transform: scale(1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.775);
}
#dots {
  height: 4vh;
  margin-right: 0;
  width: auto;
  margin-bottom: 2vw;
}
#card-nav > div {
  margin: 0;
}
#buttonHourContainer {
  gap: 2.5vw;
}
.blur-background {
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}
