@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue-main: #007aff;
  --opposite-color: black;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #0d0c0c;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
  --main-color: white;
  --background-color: white;
}
:root.dark-mode {
  --blue-main: #007aff;
  --opposite-color: #ffffff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #0d0c0c;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
  --main-color: #0d0c0c;
  --background-color: #020202;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
  scroll-behavior: smooth;
}
* {
  list-style: none;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit !important;
}
.grid {
  display: grid;
}
.blue {
  color: var(--blue-main);
}
.grey {
  color: var(--grey);
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.neue {
  font-family: "Neue Haas Grotesk Display Pro";
}
.thin {
  font-weight: 250;
}
.extralight {
  font-weight: 275;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extrabold {
  font-weight: 800;
}
.text-black {
  font-weight: 900;
}
* {
  -webkit-user-select: none; /* chromonium (brave, opera, chrome) */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.w100 {
  width: 100vw;
}
#prph {
  cursor: pointer;
  height: 5vw;
}
#prph-container {
  height: 5vw;
  z-index: 1601;
  margin-left: 0.68vw;
}
#prph,
#prph-container {
  transition: all 0.8s ease;
}
#prph.scaleDown {
  transform: scale(0.8);
}
.fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 600;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  align-items: center;
}
.spaceevenly {
  justify-content: space-evenly !important;
}
.flex-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.h-100prt {
  height: 100%;
}
.border-blue {
  border: 1px solid var(--blue-main);
}
.rCircleHigh {
  border-radius: 600px;
}
.rCircleLow {
  border-radius: 9px;
}
.shadow {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
.hidden {
  opacity: 0%;
}
#menu.hidden {
  height: 0;
  width: 0;
  opacity: 100%;
}
#fs1 {
  z-index: 70;
}
#menu.hidden * {
  opacity: 0%;
}
#searchMenuContainer {
  width: 34vw;
  height: 34vh;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 1px solid #dae1e9;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 34px 38px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  z-index: 500000;
  justify-content: start;
  transition: opacity 0.4s ease-in-out;
}
#tagRow {
  height: 3vw;
  width: 34vw;
}
.inputLine {
  width: 100%;
}
.inputLine > input[type="text"] {
  caret-color: #007aff;
}
.inputLine > input[type="text"],
.inputLine > textarea {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  width: 90%;
  margin-bottom: 1vh;
  height: 4.6vh;
  color: black;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding-left: 0.75vw;
}
.inputLine > input[type="text"]::placeholder {
  all: unset;
  color: rgba(168, 168, 168, 0.54);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.tag {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 3.5vh;
  width: 5vw;
  border-radius: 11px;
  background: #f0f0f0;
  box-shadow: 0px, 0px, 4px 15px rgba(0, 0, 0, 0.3);
}
.searchMenuLine {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.36);
}
.tag > span {
  color: #000;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-shadow {
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
}
.card {
  width: 79.79vw;
  height: 75.79vh;
  border-radius: 4vw;
  background: var(--main-color);
  box-shadow: 4px 4px 46px 2px rgba(0, 0, 0, 0.25);
  margin-left: 1.8vw;
  margin-bottom: 5vw;
  margin-top: 3vw;
  flex-shrink: 0;
}
.returned {
  transform: rotate(180deg);
}
.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}
.menu {
  position: fixed;
  background-color: var(--main-color);
  filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.25));
  opacity: 0%;
  border-radius: 2.344vw;
}
#menu {
  border-radius: 3.125vw;
  border-top-left-radius: 0;
  top: 0;
  left: 0;
  z-index: 1500;
  justify-content: space-between;
  transition: width 0.5s ease-out, height 0.3s ease-out;
}
#menu.open {
  height: 70vh;
  width: 15vw;
}
#menu.open > * {
  animation: appear 2.5s ease-in-out;
}
.menu.open {
  opacity: 100%;
}
#nav-container {
  margin-top: clamp(1vh, 2vh, 3vh);
}

.ontop {
  z-index: 2000;
}
#nav-container *:not(span, #prph, #add-container, #menu, #prph-container) {
  margin: 0 clamp(10px, 1.3vw, 3vw);
}

#nav-container h1 {
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.46);
  font-size: 4.167vw;
  color: var(--opposite-color);
}

#search-bar-container {
  width: 5vw;
  height: 5vw;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: end;
  transition: transform 0.25s ease-in;
  z-index: 6100;
}
#search-bar-container:active {
  transform: scale(0.85);
}
#search {
  fill: var(--opposite-color);
  height: 3vw;
  width: auto;
}
#add-container {
  width: 8.2vw;
  margin-top: 0.4vw;
}
#add-container svg {
  fill: var(--blue-main);
}
.top-right-corner {
  transform: rotate(22.5deg);
  transition: all 0.5s ease;
}
#swiper-slide,
#swiper-slide-active {
  width: 79.89vw;
}

#buttonHourContainer {
  gap: 2.5vw;
}
.visHidden {
  visibility: hidden;
}

.blur-background {
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

.fName {
  font-size: 2vw;
}
.plan {
  font-size: 0.8vw;
  cursor: pointer;
  letter-spacing: 1px;
}
#elementsContainer {
  height: 75%;
}
#mMenuStatusInfos {
  align-items: flex-start;
  margin-right: 1vw;
}
#mMenuNavRow {
  width: 100%;
  height: 24%;
  justify-content: end;
}
#rest {
  height: 86%;
  width: 100%;
}
.settingsSvg {
  stroke: var(--opposite-color);
  width: 1.6vw;
  margin-right: 1vw;
  transition: transform 0.75s ease-in-out;
  cursor: pointer;
}
.settingsSvg:hover {
  transform: rotate(60deg);
  stroke: var(--blue-main);
}
.settingsSvg:active {
  transform: scale(0.75);
}
.tab > * {
  margin: 5%;
}
#tabsContainer {
  width: 100%;
}
.tab-text {
  font-size: 1.31vw;
  transition: color 0.2s ease-in-out;
}
.tab-text:hover {
  color: var(--blue-main);
}
.mMenuRow.tab {
  justify-content: flex-start;
  width: 100%;
  gap: 3%;
}
.mMenuRow.tab > span {
  cursor: pointer;
  margin: 0;
}
.svg.icon.tab {
  width: 2.5vw;
  height: 4.44vh;
  transition: transform 0.3s ease;
  margin: 8%;
  cursor: pointer;
}
.svg.icon.tab:hover {
  transform: scale(1.1);
}
#currentlySvg {
  scale: 1.1;
}
#dataListContainer {
  width: 100%;
  margin-bottom: 13%;
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
