/* Root variables for colors and common styles */
:root {
  --blue-main: #007aff;
  --white: #ffffff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --black: #000000;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #1a1a21;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: rgb(35, 133, 231);
  --main-color: #ffffff;
}
.dark-mode {
  --blue-main: #007aff;
  --opposite-color: #ffffff;
  --light-grey: #d1d1d1;
  --grey: #828282;
  --red: #ff0000;
  --purple: #8f00ff;
  --black-assets: #121212;
  --color-gradient-dark-task: rgb(205, 152, 90);
  --color-gradient-dark-notes: rgb(205, 152, 90);
  --color-title-dark: #007aff;
  --main-color: #121212;
  --background-color: #080809;
  --green: #00ffb2;
}
/* Card navigation styles */
#card-nav {
  width: 100%;
  height: 10%;
}
#card-nav > * {
  margin-top: 3%;
  color: var(--opposite-color);
}

.card {
  align-items: start;
}
.navtext {
  height: 100%;
  font-size: 3.3333vw;
  margin-left: 2.77vw;
}
.clock {
  font-size: 2vw;
  margin-right: 2.77vw;
}

/* Cards container styles */
#cards-container {
  width: 90vw;
}
.dots-container {
  appearance: none;
  height: 2.31vh;
  width: 3.125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}
.dots-container:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  transition: transform 1 ease-in-out;
}
.dots-container:hover {
  background-color: var(--blue-main);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}
.dots-container {
  fill: var(--opposite-color);
}
.dots-container:active {
  transform: scale(1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.775);
}
.dots {
  height: 4vh;
  margin-right: 0;
  width: auto;
}

#add-container {
  cursor: pointer;
  transition: all 0.5s ease;
}
.top-right-corner {
  transform: rotate(22.5deg);
  transition: all 0.5s ease;
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
